<!DOCTYPE html>
<html >
<head>
    <meta charset = "UTF-8">
    <title>Cab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class = "login">
    <h1>
        Predict Travel Cost
    </h1>
    <form action=" {{ url_for('predict') }} " method="post">
        <input type="text" name="KM Travelled" placeholder="KM Travelled" required="required" />
        <input type="text" name="Price of Trip" placeholder="Price of Trip" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
</div>
<br>
<br>
{{ prediction_text }}
</body>
</html>